{% extends "super.html" %}

    {% block title %}
	  	<title>{{ tab_title }}</title>
    {% endblock title %}

    {% block content %}
          <div class="users-heading">

                {% if user.is_authenticated %}
                <a title="add registered new user" class="add-link" href="{% url 'user-register' %}" >Add User</a>
                {% endif %}

          </div>

        {% if users_list %}

            <div class="vertical-container">
            {% for user in users_list %}
                <div class="horizontal-container">
                    <div class="align-vertical">User :{{ user.username }}</div>
                    <div class="align-vertical">Group :{{ user.groups.name }}</div>

                    <div class="align-vertical">
                        <span ><a class="update-link" href="{% url 'user-update' user.id %}">Update</a></span>
                        <span><a class= "delete-link" href="{% url 'user-delete' user.id %}">Delete</a></span>
                    </div>
                </div>
            {% endfor %}
            </div>

            <section class="pages-content">
                {% if is_paginated %}

                     <span >
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}....
                     </span>

                     {% if page_obj.has_previous %}
                            <span><a href="?page={{ page_obj.previous_page_number }}"><=Previous</a></span>
                     {% endif %}
                     {% if page_obj.has_next %}
                            <span><a href="?page={{ page_obj.next_page_number }}">Next=></a></span>
                     {% endif %}

                {% endif %}

            </section>

        {% else %}
            <p>No users created.</p>
        {% endif %}


    {% endblock %}
