<!--Yassine Ibhir-->
<!--This is a log in template-->
{% extends "super.html" %}

	{% block content %}

        <section class="form-container">
            <form method="post">
                {% csrf_token%}
                <fieldset class="form-content">
                    <legend>Login</legend>
                    {{form}}

                </fieldset>
                <span class="btn-post">
                    <button  type="submit">Log in</button>
                </span>

            </form>
            <span class="center-txt">Don't have an account? <a href="{% url 'user-register' %}">Sign Up</a></span>
            <span class="center-txt"> <a href="{% url 'password_reset' %}">Forgot your password?</a></span>

        </section>

    {% endblock %}