<!--Yassine Ibhir-->
<!--This  template allows the user to provide
the email and send a request to rest the password-->
{% extends "super.html" %}

	{% block content %}

        <section class="form-container">
            <form method="post">
                {% csrf_token%}
                <fieldset class="form-content">
                    <legend>Reset Your password</legend>
                    {{form}}
                </fieldset>
                <span class="btn-post">
                    <button  type="submit">Send request</button>
                </span>

            </form>

        </section>

    {% endblock %}