<!--Yassine Ibhir-->
<!--This template allows the user to enter
new password and reset it -->
{% extends "super.html" %}

	{% block content %}

        <section class="form-container">
            <form method="post">
                {% csrf_token%}
                <fieldset class="form-content">
                    <legend>Reset Password</legend>
                    {{form}}
                </fieldset>
                <span class="btn-post">
                    <button  type="submit">Reset password</button>
                </span>

            </form>

        </section>

    {% endblock %}