{% extends "super.html" %}

{% load static %}
	{% block content %}
    <h2>420-DW Web Development III - Python Server-side programming   Winter 2021</h2>
    <h3>Project 2 - A fully fledged Django Project Website</h3>
    <div class="about-page">
        <div class="about-description">
            <span> Teacher: Nasreddine Hallam </span>
            <br>
            <span> Git repo: <a href="https://gitlab.com/Yassine.Ibhir/dw-42021-prj-grp8-pizzolongo.git">https://gitlab.com/Yassine.Ibhir/dw-42021-prj-grp8-pizzolongo.git</a></span>
            <br>
            <span> Leader:      David Pizzolongo       ID: 1936390 </span>
            <br>
            <span> Member 2: Guang Zhang             ID: 1942372 </span>
            <br>
            <span> Member 3: Yassine Ibhir               ID: 1612502 </span>
            <br>
            <span> Member 4: Aharon Moryoussef    ID: 1732787 </span>


        </div>

    </div>
    {% endblock %}