{% extends "super.html" %}

    {% block heading %}
        <meta name="description"  content="Project View">
        <meta name="author" content="Guang Zhang and David Pizzolongo">
    {% endblock heading %}

	{% block content %}
    <h2>420-DW Web Development III - Python Server-side programming   Winter 2021</h2>
    <h3 id="projTitle">Project 2 - A fully fledged Django Project Website</h3>

    <div id="home-page">

        <div id="home-description">
            <span> Git repo: <a href="https://gitlab.com/Yassine.Ibhir/dw-42021-prj-grp8-pizzolongo.git">https://gitlab.com/Yassine.Ibhir/dw-42021-prj-grp8-pizzolongo.git</a></span>
            <br>
            <p> This project will apply Python, Django, and Postgres knowledge and skills to develop a fully featured web project. </p>
            <p> The project consists of 4 cooperating Django apps that provides potential and registered users with a web platform to manage
            projects, communicate among themselves, rate and comment on the projects.</p>

            <button id="viewProjBtn"><a href="{% url 'project-list' %}" title="projects" id="viewLink">View Projects</a></button>
        </div>

    </div>
    {% endblock %}

