<!--Yassine Ibhir-->
<!-- projects list-->
{% extends "super.html" %}

	{% block content %}
          <div class="projects-heading">
                <h2>{{ page_obj.paginator.count }} Projects</h2>
                {% if user.is_authenticated %}
                <a class="add-link" href="{% url 'project-create' %}">Add Project</a>
                {% endif %}
                <form action="{% url 'search-list' %}" method="GET">
                    <input name="qry-search" type="text" placeholder="filter By ->">
                    <select name="options">
                         <option value="keyword">keyword</option>
                         <option value="name">Name</option>
                         <option value="owner">Owner</option>
                     </select>
                </form>

            </div>

        {% if project_list %}

            <div class="vertical-container">
            {% for project in project_list %}
                <div class="horizontal-container">
                    <div class="align-vertical"><img src="{{project.snapshot.url}}"> </div>
                    <div class="align-vertical">Name :{{project.name}}</div>
                    <div class="align-vertical">Keyword :{{project.keyword_list}}</div>
                    <div class="align-vertical">Owner :{{project.member}}</div>
                    <div class="align-vertical" ><a class="detail-link" href="{% url 'project-detail' project.id %}">details</a></div>
                    <div class="align-vertical" id="date-selector">{{project.post_date}}</div>
                </div>
            {% endfor %}
            </div>
            <section class="pages-content">
                {% if is_paginated %}

                     <span >
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}....
                     </span>

                     {% if page_obj.has_previous %}
                            <span><a href="?page={{ page_obj.previous_page_number }}"><=Previous</a></span>
                     {% endif %}
                     {% if page_obj.has_next %}
                            <span><a href="?page={{ page_obj.next_page_number }}">Next=></a></span>
                     {% endif %}


                {% endif %}

            </section>
        {% else %}
            <p>No projects are available.</p>
        {% endif %}

        {% endblock %}
