{% extends "super.html" %}
<head>
    {% block heading %}
        <meta name="description"  content="Project View">
        <title>Project Details</title>

        {% load static %}
        <link rel="stylesheet" href="{% static 'css/projectDetailStyles.css' %}">
        <script defer src="{% static 'scripts/projectDetailSite.js' %}"></script>
    {% endblock heading %}
</head>

<body>
    {% block content %}
    <div id="mainContainer">
      <div class="image">
          <img id="projImg" src="{{project.snapshot.url}}" alt="Project snapshot">

          <section id="ratingContainer">
              <label id="newRating">New Rating (0 to 5):</label>

              <div id="starsContainer"></div>
          </section>

          <p id="rating">Average Rating: {{ project.avg_rating }}</p>
      </div>

      <section id="projectDescrip">
            <h2>{{ project.name }}</h2>
            <p id="importantInfo">Project Owner: {{ project.member }}</p>

            {% if project.description != "" %}
            <p>Description: {{ project.description }} </p>

            {% else %}
            <p>Keywords: {{ project.keyword_list }}</p>
            {% endif %}

            <p>Date posted: {{ project.post_date }}</p>

            <p id="likePara">Number of likes: {{ project.likes }}</p>

            <div id="buttons">
                {% if user.is_authenticated %}
                <button aria-label="Click to like project" class="buttons" id="likeBtn" type="submit" href="{% url 'update-likes' project.id %}">Like</button>
                <button aria-label="Click to submit rating" class="buttons" id="ratingBtn" type="submit" href="{% url 'update-rating' project.id  %}">Submit Rating</button>
                {% endif %}

                {% if user.is_superuser %}

                <button aria-label="Click to flag project" class="buttons" id="flagBtn" type="submit">Flag</button> <!-- add view to change status -->
                {% endif %}
            </div>

            <p id="projectURL"> Go to <a href="{{ project.url }}"> Project URL. </a> </p>
      </section>
    </div>

    {% endblock content %}
</body>