{% extends "super.html" %}

	{% block content %}
        <h2>All Projects</h2>
        {% if project_list %}
            <div class="vertical-container">
            {% for project in project_list %}
                <div class="horizontal-container">
                    <div class="align-vertical"><img src="{{project.snapshot.url}}"> </div>
                    <div class="align-vertical">name :{{project.name}}</div>
                    <div class="align-vertical">keyword :{{project.keyword_list}}</div>
                    <div class="align-vertical">likes :{{project.likes}}</div>
                    <div class="align-vertical"><a href="{% url 'project-detail' project.id %}">details</a></div>
                </div>
            {% endfor %}
            </div>
        {% else %}
            <p>No projects are available.</p>
        {% endif %}


    {% endblock %}
