<!--Yassine Ibhir-->
<!--confirms the deletion of a project-->
{% extends "super.html" %}

	{% block content %}

        <section class="form-container">
            <form method="post" >
                {% csrf_token%}
                <fieldset class="form-content">
                    <legend>Delete Project</legend>
                    <h2>Are you sure you want to delete {{object.name}}</h2>
                </fieldset>
                <span class="btn-post">
                    <button  type="submit">Yes, Delete</button>
                    <a href="{% url 'memberProject-list' %}">No, Cancel</a>
                </span>

            </form>

        </section>

    {% endblock %}