{% extends "super.html" %}

	{% block content %}

        <section class="form-container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token%}
                <fieldset class="form-content">
                    <legend>{{legend}}</legend>
                    {{form}}
                </fieldset>
                <span class="btn-post">
                    <button  type="submit"> {{btn}} </button>
                </span>

            </form>

        </section>

    {% endblock %}
