{% extends "super.html" %}
<head>
    {% block heading %}
        <meta name="description"  content="Project Detail View">
        <meta name="author" content="David Pizzolongo">
    {% endblock heading %}

    {% block title %}
        <title>Project Details</title>
    {% endblock title %}
</head>

<body>
    {% block content %}
    <div id="mainContainer">
      <div class="image">
          <img id="projImg" src="{{ project.snapshot.url }}" alt="Project snapshot">

          <section id="ratingContainer">
              <p id="rating">Average Rating: {{ project.avg_rating }}</p>

              <div id="starsContainer"></div>
          </section>

          <p> Go to <a href="{{ project.url }}"> Project URL. </a> </p>
      </div>

      <section id="projectDescrip">
            <h2>{{ project.name }}</h2>
            <p id="importantInfo">Project Owner: {{ project.member }}</p>

            {% if project.description != "" %}
            <p>Description: {{ project.description }} </p>

            {% else %}
            <p>Keywords: {{ project.keyword_list }}</p>
            {% endif %}

            <p>Date posted: {{ project.post_date }}</p>

            <p id="likePara">Number of likes: {{ project.likes }}</p>

            <div id="buttonsDiv">
                {% if user.is_authenticated %}
                <button aria-label="Click to like project" tabindex="0" class="buttons" id="likeBtn" type="submit">Like</button>
                <button aria-label="Click to submit rating" class="buttons" id="ratingBtn" type="submit">Submit Rating</button>
                {% endif %}

                {% if user.is_superuser %}

                <button aria-label="Click to flag project" class="buttons" id="flagBtn" type="submit">Flag</button> <!-- add view to change status -->
                {% endif %}
            </div>

      </section>
    </div>

    {% endblock content %}
</body>