{% extends "super.html" %}

	{% block content %}

        <section class="form-container">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token%}
                <fieldset class="form-content">
                    <legend>Enter likes for project {{ project.name }}</legend>

                    {{form}}

                    <p>Current number: {{ project.likes }}</p>
                </fieldset>

                <button type="submit" id="btn">Update Project</button>

            </form>

        </section>

    {% endblock %}